.GradientBuyPhone {
  -webkit-animation: slide 5s linear infinite;
  animation: slide 5s linear infinite;
  background: url('https://loja.buyphone.com.br/img/degrade-seamless.png') repeat;
  height: 100%;
  width: 200%;
  left: 0;

}

@keyframes slide {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(-90%, 0, 0);
  }
}