.divisorbuyphone {
  -webkit-animation: slide 5s linear infinite;
  animation: slide 5s linear infinite;
  background: url('https://loja.buyphone.com.br/img/degrade-seamless.png') repeat-x;
  height: 1px;
  width: 200%;
}